# While

In [6]:
current = 1
end = 10

# until end of the condition will continue
while current <= end:
    print(current)
    current +=1

1
2
3
4
5
6
7
8
9
10

In [7]:
released_year = "1991"

correct = False

while not correct:
    answer = input("When was Python first released?")
    
    if answer == released_year:
        print('Congratulations! That is correct.')
        correct = True
    
    else:
         print('No, that\'s not it. Try again\n')

When was Python first released?1995
No, that's not it. Try again

When was Python first released?1999
No, that's not it. Try again

When was Python first released?1991
Congratulations! That is correct.

# LOOP

In [8]:
# range([start], stop, [step])

list(range(2, 21, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
# break statement

for number in range(1, 11):
    if number == 4:
        break # just come until 4 after then stopped
        
    product = number * 2
    print(number, '* 2 = ', product)

1 * 2 =  2
2 * 2 =  4
3 * 2 =  6

In [13]:
# pass statement

for number in range(1, 11):
    if number == 4:
        pass             # not effected result
    
    product = number * 2
    print(number, '* 2 =', product)

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

# FUNCTIONS

In [14]:
# defined inside function body  -> local variables

# defined outside function -> global variables

## Using Main

In [16]:
# can be decide to either execute or exclude some of the code in a program

In [17]:
def summation(first, second):
    total = first + second
    return total

In [18]:
def main():
    outer_total = summation(10, 20) * 2
    print("Double the total is " + str(outer_total))

In [19]:
if __name__ == "__main__":
    main()

Double the total is 60

In [22]:
# Variable Number of Arguments

def addition(*args): # *numbers -> can be
    total = 0
    for i in args:
        total += i
    return total

answer = addition(20, 10, 5, 1) # any number of elements can be entered.

answer

36

# Lambda & Map

In [34]:
# map(func, iterable)
# lambda (argument_list: expression)

In [35]:
numbers = [2, 5, 8, 12, 17]

squared = list(map(lambda num: num ** 2 , numbers))

squared

[4, 25, 64, 144, 289]

sources code of below: https://python-course.eu/advanced-python/lambda-filter-reduce-map.php

In [36]:

# If dont use lambda neccessary function like below
def fahrenheit(T):
    return ((9 / 5) * T + 32)

def celsius(T):
    return (float(5 / 9)) * (T - 32)

temp = (36.5, 37, 37.5, 38, 39)

F = map(fahrenheit, temp)
C = map(celsius, F)

temp_in_F = list(map(fahrenheit, temp))
temp_in_C = list(map(celsius,temp_in_F))

print("temp_in_F: ", temp_in_F)
print("temp_in_C: ", temp_in_C)

temp_in_F:  [97.7, 98.60000000000001, 99.5, 100.4, 102.2]
temp_in_C:  [36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [37]:
# WITH LAMBDA

# if using lambda, dont need further function
# lambda is use and throw function

C = [39.2, 36.5, 37.3, 38, 37.8] 
F = list(map(lambda x: (float(9)/5)*x + 32, C)) 

F

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]

In [38]:
C = list(map(lambda x: (float(5) / 9) * (x - 32), F))

C

[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

=> map can be use different length of dimensional list

In [43]:
a = [1, 2, 3, 4]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]

In [47]:
list(map(lambda x, y, z: x * y * z, a, b, c))

[-17, -100.0, 165, 360]

In [50]:
list(map(lambda x, y, z: 2.5*x + 2*y - z, a, b, c))

[37.5, 34.0, 24.5, 21.0]

map an iterable of function on the object x

In [55]:
from math import sin, cos, tan, pi

def map_functions(x, functions):
    return [func(x) for func in functions]

print(map_functions(pi, (sin, cos, tan)))

[1.2246467991473532e-16, -1.0, -1.2246467991473532e-16]

# FILTERING

In [61]:
# filter(function, sequence)

In [66]:
# using filter for get return true result

fib = [0,1,1,2,3,5,8,13,21,34,55]

odd_num = list(filter(lambda x: x % 2, fib))

odd_num

[1, 1, 3, 5, 13, 21, 55]

In [68]:
even_num = list(filter(lambda x: x % 2 == 0, fib))

even_num

[0, 2, 8, 34]

In [70]:
even_num = list(filter(lambda x: x % 2 - 1, fib))

even_num

[0, 2, 8, 34]

# REDUCE

In [77]:
# reduce(func, seq)
# continually applies the function func() to the sequence seq

![](https://python-course.eu/images/advanced-python/reduce_300w.webp)

In [78]:
import functools
functools.reduce(lambda x, y : x + y, [47, 11, 42, 13])

113

![](https://python-course.eu/images/advanced-python/reduce_diagram_350w.webp)

In [80]:
from functools import reduce
reduce(lambda x, y: x + y, range(1, 101))

5050

In [83]:
reduce(lambda x, y: x * y, range(44, 50)) / reduce(lambda x, y: x * y, range(1,7))

13983816.0

# LIST

In [84]:
# different types values can hold
mixed_list = ["a", 1, [4,5,9], 3.14]

mixed_list

['a', 1, [4, 5, 9], 3.14]

In [85]:
# changing values in a list
names = ["Julia","Diana","Eva"]

# changed with given index
names[2] = "Mihri"

names

['Julia', 'Diana', 'Mihri']

### List Methods

In [93]:
# extend
# extends the list by appending all of the items from the iterable to the list

x1 = ['first', 'other thing']
x2 = ['second', 'third']

x1.extend(x2)

x1

['first', 'other thing', 'second', 'third']

In [3]:
# insert
# list.insert(index, item)
# add which index you want

x1 = ["Germany","Italy"]

x1.insert(0,"Turkey")

x1

['Turkey', 'Germany', 'Italy']

In [5]:
# list remove
# whose value matches the argument item that's passed in

x1 = ["Germany","Italy","Turkey"]

x1.remove("Turkey")

x1

['Germany', 'Italy']

In [10]:
# list pop
# will remove the last item in the list

x1 = ["first","second","last"]

x1.pop()

x1

['first', 'second']

In [11]:
# if enter a index inside pop

x1 = ["first","second","last"]

x1.pop(0)

x1

['second', 'last']

In [12]:
# list.clear()
# removes all items from a list
# alternative can be del a[:]

x = [1,2,5,6,25,51,45]

x.clear()

x

[]

In [14]:
# list.index(item [, start [, end]])

x = ["sunday","monday","friday","wednesday"]

x.index("monday") # give index

1

In [17]:
# x.index('monday', 0, 1) # which range will look at we'll give 

# output: ValueError: 'monday' is not in list

In [19]:
x.index('wednesday', 2)

3

In [25]:
# list.count(item)

x = [1,1,2,5,41,25,56,85,5,58,95,8,5]

x.count(5)

3

In [26]:
x.sort()

x

[1, 1, 2, 5, 5, 5, 8, 25, 41, 56, 58, 85, 95]

In [27]:
x.reverse()

x

[95, 85, 58, 56, 41, 25, 8, 5, 5, 5, 2, 1, 1]

In [29]:
# returns a shallow copy of a lit
# if we changed something in x, not change in y this meaning  -> shallow copy

y =x.copy()

y

[95, 85, 58, 56, 41, 25, 8, 5, 5, 5, 2, 1, 1]

In [35]:
x[0] = 555

print(x)

print(y)

# just added x inside
# y not affected

[555, 85, 58, 56, 41, 25, 8, 5, 5, 5, 2, 1, 1]
[95, 85, 58, 56, 41, 25, 8, 5, 5, 5, 2, 1, 1]

# TUPLE

 - suited for use with different data types
 - immutable
 - faster than list

In [37]:
pets = ('dog','cat','parrot')

pets

('dog', 'cat', 'parrot')

In [40]:
# any: discover whether any element of a tuple is an iterable

any(pets)

True

# DICTIONARY

In [49]:
words = {"pen":"kalem",
        "pc":"bilgisayar",
        "bird":"kuş"}

words

{'pen': 'kalem', 'pc': 'bilgisayar', 'bird': 'kuş'}

In [50]:
# add a new key and value

words["candy"] = "şeker"

words

{'pen': 'kalem', 'pc': 'bilgisayar', 'bird': 'kuş', 'candy': 'şeker'}

In [51]:
# reading data

words["pen"]

'kalem'

In [55]:
# if the value not exist in dict 
# -> when using get, result will be -> None


print(words.get("this"))

None

In [57]:
# if using words["this"]
# output: KeyError: 'this'

In [10]:
# dict.setdefult()

a = {"name":"John","age":"24","sex":"male"}

b = a.setdefault("name")

b

'John'

In [9]:
c = a.setdefault("planet","Earth")
c

'Earth'

In [13]:
d = a.fromkeys(["name","age"], "Nothing here yet")
d

{'name': 'Nothing here yet', 'age': 'Nothing here yet'}

In [15]:
# pop
a = {1, 2, 3, 4}
a.pop() # delete first index and show output

1

In [17]:
# discard
a = {1, 2, 3}
a.discard(2)
a

{1, 3}

In [19]:
# if not available inside side not give error
a.discard(24) 
a

{1, 3}

In [ ]:
# Frozen Sets
# immutable
# not support adding or removing items